body {
  background-color: #f16d00;
  text-align: center;
}
h1 {
  text-size: 36px;
  color: #964400;
  border-bottom: 2px double #ffa84e;
}
#form {
  display: block;
  border: 2px double #ff831d;
  color: #ff9e4e;
}
